.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.Box{
    color: white;
    height: 200px;
    text-align: center;
}

.Box1{
    background-color: rgb(255,0,0);
}
.Box2{
    background-color: rgb(0,128,0);
}
.Box3{
    background-color: rgb(0,0,255);
}
.Box4{
   background-color:  rgb(210,105,30);
}

@media screen and (max-width:500px) {
    .container{
        grid-template-columns: 1fr;
        background-color: lightgray;
        padding: 10px;
    }
    .Box{
        height: 125px;

    }
}